<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18ABD39D28E3908E00638AB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ABD3B328E3909000638AB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ABD3BD28E3909000638AB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B1C98E28EBE4C30079523A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
