<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Essential Feed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Essential_FeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Essential_FeedCacheIntegerationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Essential_FeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1804BFCE28B88BC10008A42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1804BFD728B88BC10008A42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181CAAEC2897074500D8788D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1875EDD1285BBE92009E4B4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1875EDDB285BBE92009E4B4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ACE9DC28B4814100B3E69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
